@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000;
}

img {
    height: 70px;
    margin-right: 21rem;
    
}

nav {
    /*
    border: 1px solid blue;
    */
    background-color: #000;
    
}

#menu {
    display: flex;
    justify-content: right;
    gap: 35px;
    margin-right: 35px;
    align-items: center;
    border-bottom: 2px solid rgb(126, 126, 126);
    width: 100%;
}

li {
    list-style-type: none;
}

.options_menu {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}

.options_menu:hover{
    color: rgb(230, 156, 20);
}

.search_box{  
   display: flex;
   margin-right: -4.5rem;
}

input{  
    padding: 12px 22px 12px 22px;
    border-radius: 5rem;
}

.icons{
    color: rgb(71, 61, 61); 
    border-radius: 5rem;
    padding: 0.0rem;
    margin-right: 13rem;
    margin-top: 0.2rem;
    background-color: #fff;
    cursor: pointer;
}

.login{
    margin: 35px 0 0 -160px;
}

.link,p{
    font-size: 1.4rem;
    color: rgb(124, 124, 124);
    text-decoration: none;
}

.link{
    color: rgb(230, 156, 20);
}

#registration_box{
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid rgb(126, 126, 126);
    align-items: center;
    padding-bottom: 30px;
}

.promotion{
    margin:  20px -150px 0 0;
}

button{
    padding: 15px 33px 15px 33px;
    border-radius: 2rem;
    font-size: 1rem;
    transition: 0.5s;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    
}

button:hover{
  background-color: rgb(255, 166, 0);
}

.imgBanner{
    width: 100vw;
    height: 90vh;
}

.textBannerP{
    color: rgb(230, 156, 20);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 2.5rem;
    margin-top: -36rem;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

.textProducts{
    margin-top: 40rem;
    margin-left: 7rem;
    font-size: 2.5rem;
    color: rgb(230, 156, 20);
    font-family: 'Inter', sans-serif;
}



