* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    
    border: 2px solid red;
    
    height: 70px;
    margin-right: 23.3rem;
}

nav {
    /*
    border: 1px solid blue;
    */
    background-color: #000;
}

.menu {
    display: flex;
    justify-content: right;
    gap: 35px;
    margin-right: 30px;
    align-items: center;
}

li {
    list-style-type: none;
}

.a-1 {
    text-decoration: none;
    color: #fff;
}

.search_box{
   border: 1px solid red;
   display: flex;
   margin-right: 12rem;
}

input{
    padding: 0.5rem;
}

.login,a{
 color: #000;
}


